<div class="region region-topbar">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xs-12"></div>
        <!-- /.col-xs-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.region region-topbar -->
<div class="region region-branding">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xs-12"></div>
        <!-- /.col-xs-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.region region-branding -->
<div class="region region-navigation">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xs-12"></div>
        <!-- /.col-xs-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.region region-navigation -->
<div class="main-container">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <div class="region region-sidebar region-sidebar-first"></div>
          <!-- /.region region-sidebar region-sidebar-first -->
        </div>
        <!-- /.col-xs-12 col-md-3 -->
        <div class="col-xs-12 col-md-6">
          <div class="highlighted">
            <div class="region region-highlighted">

            </div>
            <!-- /.region region-highlighted -->
            <div class="region region-content">

            </div>
            <!-- /.region region-content -->
          </div>
          <!-- /.highlighted -->
        </div>
        <!-- /.col-xs-12 col-md-6 -->
        <div class="col-xs-12 col-md-3">
          <div class="region region-sidebar region-sidebar-second"></div>
          <!-- /.region region-sidebar region-sidebar-second -->
        </div>
        <!-- /.col-xs-12 col-md-3 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.main-container -->
<div class="region region-footer">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xs-12"></div>
        <!-- /.col-xs-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.region region-footer -->
